@import './fontawesome/fontawesome.scss';
@import './fontawesome/solid.scss';
@import './fontawesome/brands.scss';

// Customize some defaults
$primary: #112a4d;
$secondary: #c4c4c4;

$font-size-root: null;
$font-size-base: 0.9rem;
$font-size-lg: $font-size-base * 2;
$font-size-sm: $font-size-base * 0.875;
$font-size-xs: $font-size-base * 0.75;

// Import Inter font from Google Fonts
@import url(https://fonts.googleapis.com/css?family=Inter&display=swap);
// Change the Bootstrap variable to use Inter
$font-family-sans-serif: 'Inter',
	// Cross-platform generic font family (default user interface font)
	system-ui,
	// Safari for macOS and iOS (San Francisco)
	-apple-system,
	// Chrome < 56 for macOS (San Francisco)
	BlinkMacSystemFont,
	// Windows
	'Segoe UI',
	// Android
	Roboto,
	// Basic web fallback
	'Helvetica Neue',
	Arial,
	// Linux
	'Noto Sans',
	'Liberation Sans',
	// Sans serif fallback
	sans-serif,
	// Emoji fonts
	'Apple Color Emoji',
	'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;

// Add custom colors
$custom-colors: (
	'accent': #e59200,
);

@import 'bootstrap/scss/bootstrap';

@import 'bootstrap/scss/functions'; // Required
@import 'bootstrap/scss/variables'; // Required
@import 'bootstrap/scss/mixins'; // Required

@import 'bootstrap/scss/root'; // Required
@import 'bootstrap/scss/reboot'; // Required
@import 'bootstrap/scss/type';
@import 'bootstrap/scss/images';
// @import "bootstrap/scss/code";
@import 'bootstrap/scss/grid';
// @import "bootstrap/scss/tables";
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/transitions';
@import 'bootstrap/scss/dropdown';
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group"; // Requires forms
// @import "bootstrap/scss/custom-forms";
@import 'bootstrap/scss/nav';
@import 'bootstrap/scss/navbar'; // Requires nav
// @import "bootstrap/scss/card";
@import 'bootstrap/scss/breadcrumb';
@import 'bootstrap/scss/pagination';
@import 'bootstrap/scss/badge';
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
@import 'bootstrap/scss/list-group';
@import 'bootstrap/scss/close';
// @import "bootstrap/scss/toasts";
@import 'bootstrap/scss/modal'; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import 'bootstrap/scss/popover';
@import 'bootstrap/scss/carousel';
// @import "bootstrap/scss/spinners";
@import 'bootstrap/scss/utilities';
// @import "bootstrap/scss/print";

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
$all-colors: map-merge-multiple(
	$blues,
	$indigos,
	$purples,
	$pinks,
	$reds,
	$oranges,
	$yellows,
	$greens,
	$teals,
	$cyans
);

$utilities: map-merge(
	$utilities,
	(
		'color':
			map-merge(
				map-get($utilities, 'color'),
				(
					values:
						map-merge(
							map-get(map-get($utilities, 'color'), 'values'),
							($all-colors)
						),
				)
			),
	)
);

@import 'bootstrap/scss/utilities/api';

// Generate `.bg-*` color utilities
@each $color, $value in $theme-colors {
	.bg-#{$color} {
		@include gradient-bg($value);
	}

	.btn-#{$color} {
		@include button-variant($value, $value);
	}

	.btn-outline-#{$color} {
		@include button-outline-variant($value);
	}

	.border-#{$color} {
		border-color: $value !important;
	}

	.text-#{$color} {
		color: $value !important;
	}
}

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$font-sizes: (
	1: $h1-font-size,
	2: $h2-font-size,
	3: $h3-font-size,
	4: $h4-font-size,
	5: $h5-font-size,
	6: $h6-font-size,
);

//
// Custom styles
//
:root {
	accent-color: $primary;
}

.navbar-brand img.logo {
	height: 2rem;
}

img.lid-profielfoto {
	width: 2.5rem;
	height: 2.5rem;
	object-fit: cover;
}

.navbar-nav img.lid-profielfoto {
	width: 2rem;
	height: 2rem;
}
.navbar.navbar-fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: $zindex-fixed;
}
.navbar.navbar-fixed-bottom {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: $zindex-fixed;
	padding-bottom: env(safe-area-inset-bottom);
}

.css-1dbjc4n {
	-moz-box-align: stretch;
	-moz-box-direction: normal;
	-moz-box-orient: vertical;
	align-items: stretch;
	border: 0px solid black;
	box-sizing: border-box;
	display: flex;
	flex-basis: auto;
	flex-direction: column;
	flex-shrink: 0;
	margin: 0px;
	min-height: 0px;
	min-width: 0px;
	padding: 0px;
	position: relative;
	z-index: $zindex-fixed;
}
.r-aqfbo4 {
	backface-visibility: hidden;
}
.r-zchlnj {
	right: 0px;
}
.r-1xcajam {
	position: fixed;
}
.r-1d2f490 {
	left: 0px;
}
.r-1p0dtai {
	bottom: 0px;
}

.r-12vffkv {
	pointer-events: none !important;
}
.r-12vffkv > * {
	pointer-events: auto;
}

.r-97e31f {
	padding-bottom: env(safe-area-inset-bottom);
}
.r-5kkj8d {
	border-top-width: 1px;
}
.r-1efd50x {
	border-top-style: solid;
}
.r-2sztyj {
	border-top-color: rgb(47, 51, 54);
}
.r-kemksi {
	background-color: rgb(0, 0, 0);
}

.r-13qz1uu {
	width: 100%;
}
.r-1jgb5lz {
	margin-left: auto;
	margin-right: auto;
}

.r-ripixn {
	max-height: 16vh;
}
.r-drjvcx {
	height: 3.5rem;
}
.r-18u37iz {
	-moz-box-direction: normal;
	-moz-box-orient: horizontal;
	flex-direction: row;
}

.r-1loqt21 {
	cursor: pointer;
}
.r-wgabs5 {
	border-bottom-width: 2px;
}
.r-rull8r {
	border-bottom-style: solid;
}
.r-oucylx {
	border-bottom-color: rgba(0, 0, 0, 0);
}
.r-1ny4l3l {
	outline-style: none;
}
.r-eqz5dr {
	-moz-box-direction: normal;
	-moz-box-orient: vertical;
	flex-direction: column;
}
.r-16y2uox {
	-moz-box-flex: 1;
	flex-grow: 1;
}
.r-1777fci {
	-moz-box-pack: center;
	justify-content: center;
}
.r-1awozwy {
	-moz-box-align: center;
	align-items: center;
}
.r-6koalj {
	display: flex;
}

.r-6416eg {
	transition-property: background-color, box-shadow;
}
.r-1e6yznf {
	margin-top: -6px;
}
.r-o7ynqc {
	transition-duration: 0.2s;
}
.r-dnmrzs {
	max-width: 100%;
}
.r-edyy15 {
	padding: 8px;
}
.r-xf4iuw {
	margin: -8px;
	margin-top: -8px;
}
.r-sdzlij {
	border-radius: 9999px;
}

.r-lwhw9o {
	height: 1.75rem;
}
.r-1nao33i {
	color: $white;
}
.r-lrvibr {
	user-select: none;
}
.r-1plcrui {
	vertical-align: text-bottom;
}
.r-bnwqim {
	position: relative;
}
.r-dnmrzs {
	max-width: 100%;
}

body > .container-fluid {
	padding-block: $spacer * 4.5;
}

i.fas,
i.fab {
	@extend .me-1;
}

.translate-begin {
	transform: translate(-150%, -50%) !important;
	width: 16px;
}

@media (max-width: 575px) {
	.translate-begin {
		transform: translate(0%, -50%) !important;
	}
	.ps-24 {
		padding-left: 24px;
	}
}
