<h2 class="h6 fw-bolder mt-1"><a href="#">Verjaardagen</a></h2>

<div class="list-group list-group-flush">
	{{#each voorpagina.verjaardagen}}
	<a href="#" class="list-group-item list-group-item-action d-flex gap-3 align-items-center">
		<img
			src="{{this.profielFoto}}"
			alt=""
			class="lid-profielfoto rounded-circle"
		/>
		<div class="overflow-hidden">
			<h3 class="verjaardagen-item-dag mb-0 fw-bolder text-black-50 text-uppercase">
				{{this.dag}}
			</h3>
			<p class="text-truncate">{{ this.naam }}</p>
		</div>
	</a>
	{{/each}}
</div>
