<h2 class="h6 fw-bolder mt-1"><a href="/forum.html">Forum</a></h2>

<div class="list-group list-group-flush">
	{{#each voorpagina.forum}}
	<a href="/forum-topic.html" class="list-group-item list-group-item-action">
		<div class="d-flex align-items-center">
			<p class="text-truncate flex-grow-1">
				<span class="forum-item-moment d-inline-block">
					{{this.tijd}}
				</span>
				{{this.titel}}
			</p>
			{{#if this.nieuweBerichten}}
			<span class="badge rounded-pill bg-accent"
				>{{ this.aantalNieuw }}</span
			>
			{{/if}}
		</div>
	</a>
	{{/each}}
</div>
