<!-- Header buttons -->
<header class="d-flex justify-content-between align-items-center">
	<h1>Forum</h1>

	<div class="dropdown d-block d-md-none">
		<button
			class="btn btn-primary dropdown-toggle"
			type="button"
			id="dropdownMenuButton1"
			data-bs-toggle="dropdown"
			aria-expanded="false"
		>
			Opties
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			<li>
				<a
					class="dropdown-item"
					data-bs-toggle="modal"
					data-bs-target="#nieuwDraadjeModal"
				>
					<i class="ph-plus-circle-fill"></i>
					Nieuw draadje
				</a>
			</li>
			<li><hr class="dropdown-divider" /></li>
			<li>
				<a
					class="dropdown-item"
					data-bs-toggle="modal"
					data-bs-target="#filterModal"
				>
					<i class="ph-funnel-fill"></i>
					Filter
				</a>
			</li>
			<li>
				<a
					class="dropdown-item"
					data-bs-toggle="modal"
					data-bs-target="#shareModal"
				>
					<i class="ph-share-network-fill"></i>
					Delen
				</a>
			</li>
			<li>
				<a class="dropdown-item" href="#">
					<i class="ph-bell-fill"></i>
					Notificaties
				</a>
			</li>
		</ul>
	</div>

	<div
		class="btn-toolbar d-none d-md-block"
		role="toolbar"
		aria-label="Toolbar with button groups"
	>
		<div class="btn-group me-2" role="group" aria-label="First group">
			<button
				type="button"
				class="btn btn-accent text-white"
				data-bs-toggle="modal"
				data-bs-target="#nieuwDraadjeModal"
			>
				<i class="ph-plus-circle-fill"></i>
				Nieuw
			</button>
		</div>

		<div class="btn-group" role="group" aria-label="Second group">
			<button
				type="button"
				class="btn btn-primary"
				data-bs-toggle="modal"
				data-bs-target="#filterModal"
			>
				<i class="ph-funnel-fill"></i>
			</button>

			<button
				type="button"
				class="btn btn-primary"
				data-bs-toggle="modal"
				data-bs-target="#shareModal"
			>
				<i class="ph-share-network-fill"></i>
			</button>

			<button type="button" class="btn btn-primary">
				<i class="ph-bell-fill"></i>
			</button>
		</div>
	</div>
</header>
