<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="manifest" href="./manifest.json" />
<link rel="stylesheet" href="./assets/css/index.css" />
<script src="https://unpkg.com/phosphor-icons"></script>

<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- <meta name="apple-mobile-web-app-status-bar-style" content="black" /> -->
<meta name="apple-mobile-web-app-title" content="C.S.R." />
<link
	rel="apple-touch-icon"
	sizes="1024x1024"
	href="./assets/images/beeldmerk-1024x1024.png"
/>
<link
	rel="apple-touch-icon"
	sizes="512x512"
	href="./assets/images/beeldmerk-512x512.png"
/>
<link
	rel="apple-touch-icon"
	sizes="192x192"
	href="./assets/images/beeldmerk-192x192.png"
/>

<meta name="theme-color" content="#152A48" />
