<!-- Nieuw bericht -->
<div id="nieuwBericht" class="row">
	<div class="col-4 ps-sm-2 ps-1 img-lid">
		<div class="ratio ratio-1x1">
			<img src="./assets/images/person.jpg" alt="Person" />
		</div>
	</div>
	<div class="col">
		<div class="d-flex justify-content-between align-items-center">
			<b>Am. Benjamins</b>
		</div>
		<div class="draad-post fw-light mb-3">
			<form>
				<textarea
					class="form-control mb-2"
					id="bericht"
					rows="7"
				></textarea>

				<button class="btn btn-primary" type="submit">Opslaan</button>
			</form>
		</div>
	</div>
</div>
