<!-- Nieuw bericht -->
<div id="nieuwBericht" class="row">
	<div class="col-2 col-sm-1 ps-1 ps-sm-2">
		<img
			src="./assets/images/person.jpg"
			alt="Person"
			class="lid-profielfoto rounded-circle"
		/>
	</div>
	<div class="col">
		<div class="d-flex justify-content-between align-items-center">
			<b>Am. Benjamins</b>
		</div>
		<div class="draad-post fw-light mb-3">
			<form>
				<textarea
					class="form-control mb-2"
					id="bericht"
					rows="7"
				></textarea>

				<button class="btn btn-primary" type="submit">Opslaan</button>
			</form>
		</div>
	</div>
</div>
