<div class="container-fluid bg-light p-3 min-vh-100">
	<div class="container grid-container p-0 p-md-3">
		<div class="cell cell-posters ratio ratio-3x2">Posters</div>
		<div class="cell cell-agenda">Agenda</div>
		<div class="cell cell-forum">Forum</div>
		<div class="cell cell-verjaardagen">Verjaardagen</div>
		<div class="cell cell-foto-albums">Foto-albums</div>
		<div class="cell cell-overig">Overig</div>
		<div class="cell cell-civi-saldo">Civisaldo</div>
		<div class="cell cell-is-het-al">Is het al?</div>
	</div>
	<div class="container p-0 p-md-3 mt-5">
		<div class="cell">Advertenties</div>
	</div>
</div>
