<div class="container-fluid bg-light p-3 min-vh-100">
	<div class="container px-0 ratio ratio-3x2">
	<!-- <div class="container px-0"> -->
		<div class="grid-container p-0 p-md-3">
			<div class="cell cell-posters ratio ratio-3x2">
				{{> grid-cell-posters}}
			</div>
			<div class="cell cell-forum cell-overflow">{{> grid-cell-forum}}</div>
			<div class="cell cell-agenda cell-overflow">{{> grid-cell-agenda}}</div>
			<div class="cell cell-verjaardagen cell-overflow">
				{{> grid-cell-verjaardagen}}
			</div>
			<div class="cell cell-foto-albums">{{> grid-cell-albums}}</div>
			<div class="cell cell-overig">{{> grid-cell-overig}}</div>
			<div class="cell cell-civi-saldo position-relative">
				{{> grid-cell-civisaldo}}
			</div>
			<div class="cell cell-is-het-al">{{> grid-cell-is-het-al}}</div>
		</div>
	</div>
	<div class="container p-0 p-md-3 mt-5">
		<div class="cell cell-advertenties">{{> grid-cell-advertenties}}</div>
	</div>
</div>
